{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}

{% block content %}
    <h2>ایجاد حساب کاربری جدید</h2>
    <p>
        <span style="color: red;">توجه:</span>
        <span> تمام کاربران جدید به عنوان کاربر عادی ثبت نام می‌شوند.</span>
        <small>(برای دسترسی ادمین از مدیریت درخواست کنید)</small>
    </p>    
    <form method="post">
        <label for="username">نام کاربری:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">رمز عبور:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">ثبت نام</button>
    </form>
     <p>قبلا ثبت نام کرده‌اید؟ <a href="{{ url_for('login') }}">وارد شوید</a></p>
{% endblock %}